.a,.b,.c{
    background-color :red
}

h1 p{
    background-color: yellow;
}
h1 p h4{
    background-color: brown;
}
h1 p {
    background-color: blue;
}
h1 {
    background-color: red;
}
.a {
    background-color: #00ac14;
}
body {
    background-image: url(https://yt3.googleusercontent.com/5t_tZJXfCASMlJxUqBifWlCXWjJqADOrTBg21FLT4xqUHskK6bpbQnWfyDuEAANx_Wd0XXOdLg=s900-c-k-c0x00ffffff-no-rj);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:cursive;
    font-size: 16px;
    font-weight: bolder;

}
p{
    text-align: center;
    text-decoration: underline;
    text-decoration: line-through;
}